
body { max-width: 1000px;
	padding: 0;
	box-sizing: border-box;
	margin:auto;
}

.slideshow-container{
	  max-width: 1000px;
	margin:auto;
	position: relative;
	}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.leftSide a {
	text-decoration: none;
	position: absolute;
	display: block;
	line-height: 10px;
	top:100px;
	right:300px;
	color:black;
	font-family: Helvetica;
}
.leftSide span{
	font-size: 50px;
}
.leftSide p{
	font-size: 20px;
}
.rightSide{
	position: absolute;
	top:200px;
	right:200px;
}
.rightSide a,.rSide a{
  background-image: url(http://www.webmasters.by/images/articles/css-social-buttons/social-icons-preview.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-right: 10px;
 cursor: pointer;
 border-radius: 10px;
}
.rSide{
	display: none;
}
.fb{
	background-position:-72px -40px;
}

.tw{
	background-position:-35px -40px;
}

.linkdn{
	background-position:-147px -40px;
}

.fb:hover{
	background-position:-75px -285px;
}

.tw:hover{
	background-position:-35px -285px;
}
.linkdn:hover{
	background-position:-155px -285px;
}

.belowSide{
	width:inherit;
	background-color: #6B9EAF;
	position: absolute;
	top: 1px;
	opacity: 0.8;
	color: black;
}

.belowSide a {
  display:block;
 cursor: pointer;
 color:black;
 font-family: Helvetica;
 font-size: 20px;
 font-weight: lighter;
 text-transform: uppercase;
 padding:5px 25px 5px 25px;
 position:relative;
 opacity: 0.9;
}

.belowSide a:hover{
		color: white;
}

.belowSide .below{
	display: inline-block;
}
.content{
	display:flex;
	background-color: white;
	border-bottom: 2px solid #EAEAEA;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	z-index: 100;
}
.content a{
	text-decoration: none;
}

.content>div{
	margin-right: 20px;
	max-width: 230px;
}

.content>div img:hover{
	transform: scale(1.1);
	-webkit-transition: transform ease-in-out 1.5s;
	opacity: 0.7;
	cursor: pointer;
}

.content2{
	display:flex;
	justify-content: space-around;
	align-items: center;
	margin:10px;
	flex-wrap: wrap;
}

.content2>div{
	margin-right: 20px;
	max-width: 220px;
}
.footer p{
	text-align: center;
	padding-top:30px;
}

p{
	font-family: Helvetica;
	padding:15px;
	text-align: center;
}
.content2 a{
	display: block;
	max-width:100%;
	height: 25px;
	background-color: black;
	box-sizing: border-box;
	text-align: center;
	line-height: 25px;
	color:white;
	text-decoration: none;
	font-size: 20px;
	font-family: Helvetica;
}

.content2 a:hover{
	background-color: gray;
	color:black;
}

h1,h2,h3,h4,h5,h6{
	padding: 0 10px;
	font-family: Tahoma;
	text-align: center;
}
h1, h2, h3, h4{
	color:#5F9EA0;
}


#form1, #form2{
	display: none;
position: absolute;
max-width: 200px;
max-height: 150px;
background: #6B9EAF;
z-index: 15; 
padding: 10px;
text-align: center;
text-transform: uppercase;
border: 1px solid #D58F37;
border-radius: 5px;
transform:  scale(1.2);
opacity: 0.8;
}
#form1 a, #form2 a{
	display: flex;
	flex-direction: column;
	cursor: pointer;
}
#form1{
left: 460px;
top:20px;
}
#form2{
left: 660px;
top:20px;
}

#form1 a:hover, #form2 a:hover{
	color: white;
}
#form3{
	display: none;
	background: gray;
	opacity: 0.6;
	color: black;
	float: left;
	max-width: 300px;
}


@media (max-width: 600px){
	.content2, .content{ flex-direction: column;}
	.leftSide a {
		top:130px;
		opacity: 0.7;
		  color:black;
	}
	.rightSide{
		top:200px;
	}
	p {
		padding: 5px;
		margin:0;
	}

	.rightSide a{
	transform: scale(0.7);
	  margin-right: 2px;
	}
	.leftSide span{
	font-size: 25px;
	font-family: Helvetica;
	left: 10px;
}
.leftSide p{
	display:block;
}

	.belowSide a{
		font-size: 12px;
 padding:3px 15px 3px 5px;
	}
	#form1{
	left: 100px;
top:3px;
transform: scale(0.75);
}
#form2{
	left: 200px;
top:3px;
transform: scale(0.75);
}
}

@media (max-width: 300px){
	.content{ flex-direction: column;
		margin-top: 70px;}
		.content2 {flex-direction: column;}
	.leftSide a {
		opacity: 0.7;
		left: 10px;
		top: 70px;
	}
.rSide {
	display: block;
	text-align: center;
	transform: scale(0.7);
}
	footer {
		margin-top: 20px;
	}
    .leftSide p{
    	display: none;
    }

	.slideshow-container{
		display: none;
	}
}

p img{
	max-width: 100%;
}